@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-react-pivotview/styles/material.css';

@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  outline-offset: 0;
}

tr th, tr td {
  width: 80px;
}

th:nth-child(5), th:nth-child(6), th:nth-child(7), th:nth-child(8) {
  width: 130px;
}

td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8) {
  width: 130px;
}
