@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  outline-offset: 0;
}

tr th, tr td {
  width: 80px;
}

th:nth-child(5), th:nth-child(6), th:nth-child(7), th:nth-child(8) {
  width: 130px;
}

td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8) {
  width: 130px;
}

/* td:nth-child(1), td:nth-child(2),  */